<fieldset>
  <div class="row">
    <div class="small-12 columns">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="row">
    <div class="small-6 columns">
      <%= f.label :input %>
      <%= f.text_field :input %>
    </div>
    <div class="small-6 columns">
      <%= f.label :output %>
      <%= f.text_field :output %>
    </div>
  </div>
</fieldset>
